<template>
  <div class="container">
    <h1>Id Product : {{ id }}</h1>
    <h1>Colour : {{ colour }}</h1>
  </div>
</template>

<script>
export default {
  layout: 'no-nav',
  data() {
    return {
      id: this.$route.params.id,
      colour: this.$route.params.colour
    }
  },
  created() {
    // console.log(this.$route)
  }
}
</script>
