<template>
  <nav class="nav">
    <NuxtLink to="/" class="nav-link">Home</NuxtLink>
    <NuxtLink to="/about" class="nav-link">About</NuxtLink>
    <NuxtLink to="/planets" class="nav-link">Planets</NuxtLink>
  </nav>
</template>

<style>
.nav {
  display: flex;
  justify-content: center;
  background-color: black;
}
.nav-link {
  color: white;
  margin: 0 30px;
  text-decoration: none;
  padding: 20px;
}
.nav-link:hover {
  background-color: white;
  color: black;
}
</style>
