<template>
  <div class="container">
    <div class="detail">
      <img :src="data.image" class="detail-image" />
      <div class="detail-title">{{ data.title }}</div>
      <div class="detail-radius">{{ data.radius ? data.radius : '-' }}</div>
      <div class="detail-description">{{ data.description }}</div>
    </div>
    <button class="btn-back" @click="goToPlanets">Back to List Planets</button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  async asyncData({ params }) {
    const result = await axios.get(
      `https://api.nuxtjs.dev/planets/${params.name}`
    )
    return { data: result.data }
  },
  data() {
    return {
      title: `${this.$route.params.name.charAt(0).toUpperCase() +
        this.$route.params.name.slice(1)}`
    }
  },
  methods: {
    goToPlanets() {
      this.$router.push('/planets')
      // console.log(this.data)
    }
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  }
}
</script>

<style>
.detail {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.detail-image {
  width: 300px;
}
.detail-title {
  font-size: 18px;
  font-weight: bold;
}
.detail-radius {
  margin: 10px 0;
}
.detail-description {
  text-align: center;
}
.btn-back {
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  background-color: black;
  color: white;
  font-weight: bold;
}
.btn-back:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
</style>
