<template>
  <div class="container">
    <!-- <h1 class="text-center">Planets Page</h1>
    <hr /> -->
    <div class="header">
      <label>Timestamp : {{ $fetchState.timestamp }}</label>
      <button @click="$fetch">Refresh</button>
    </div>

    <main class="main">
      <div v-if="$fetchState.pending">Loading ...</div>
      <div v-else-if="$fetchState.error">An error occurred :(</div>
      <div
        v-for="item in planets"
        v-else
        :key="item.slug"
        class="card"
        @click="goToDetail(item.slug)"
      >
        <img :src="item.image" class="card-image" />
        <div class="card-content">
          <div class="card-title">{{ item.title }}</div>
          <div class="card-radius">{{ item.radius ? item.radius : '-' }}</div>
          <div class="card-description">
            {{ item.description }}
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  async fetch() {
    const result = await axios.get('https://api.nuxtjs.dev/planets')
    this.planets = result.data
    // console.log(result)
  },
  data() {
    return {
      planets: []
    }
  },

  // fetchOnServer: false, default = true jika fetch tidak ingin di jalankan di server bsa dibuat false
  methods: {
    goToDetail(slug) {
      // console.log('Go !')
      this.$router.push('/planets/' + slug)
    }
  },
  head() {
    return {
      title: 'Planets',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  }
}
</script>

<style>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.main {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 230px;
  height: 350px;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: white;
}
.card:hover {
  position: relative;
  bottom: 5px;
}
.card-image {
  width: 100%;
  object-fit: cover;
  flex: 2;
}
.card-content {
  flex: 1;
  text-align: center;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card-radius {
  margin: 5px 0;
}
.card-description {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
</style>
