<template>
  <div class="container">
    <Banner />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quasi
      doloribus exercitationem expedita vitae, rerum, animi tempora sit minima
      voluptas magnam optio autem earum eos deleniti sapiente, atque laudantium.
      Magni?
    </p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Home',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  }
}
</script>
